# Android Keystore 配置文件
# 複製此文件為 keystore.properties 並填入實際值
# 注意: keystore.properties 已加入 .gitignore，不會被提交到版本控制

storeFile=release-key.keystore
keyAlias=release-key
storePassword=你的keystore密碼
keyPassword=你的key密碼